@{
    ViewBag.Title = "Admin Dashboard";
}

<h2>Admin Dashboard</h2>

<div class="row justify-content-center">

    <div class="mt-3">
        <a href="/Admin/ManageCatalog" class="btn btn-primary">Manage Book Catalog</a>
        <a href="/Admin/AddBook" class="btn btn-success">Add New Book</a>
    </div>
</div>